<section class="section" id="about">
  <h2 class="section__title">关于我</h2>

  <div class="max-w-[968px] mx-auto px-4">
    <div class="grid md:grid-cols-2 gap-8 items-center">
      <div class="justify-self-center">
        <img src="assets/img/about.png" alt="about image" class="w-[300px] rounded-lg">
      </div>

      <div>
        <p class="text-text mb-8">
          B端产品经理，具有丰富的数据建模和原型设计经验，致力于提供高质量的工作成果。熟悉数据分析，熟悉财务，懂技术。
        </p>

        <div class="grid grid-cols-3 gap-4 mb-8">
          <div class="text-center">
            <span class="text-2xl font-semibold text-title block">05+</span>
            <span class="text-sm">年<br>经验</span>
          </div>
          <div class="text-center">
            <span class="text-2xl font-semibold text-title block">5+</span>
            <span class="text-sm">完成<br>项目</span>
          </div>
          <div class="text-center">
            <span class="text-2xl font-semibold text-title block">04+</span>
            <span class="text-sm">服务<br>公司</span>
          </div>
        </div>

        <a download="" href="assets/pdf/简历.pdf" class="button">
          下载简历 <i class="uil uil-download-alt button__icon"></i>
        </a>
      </div>
    </div>
  </div>
</section>