<section class="section" id="experience">
  <h2 class="section__title">工作经历</h2>
  <!-- <span class="section__subtitle">我的职业生涯</span> -->

  <div class="max-w-[968px] mx-auto px-4">
    <div class="relative">
      <!-- 垂直时间线 -->
      <div class="absolute left-0 md:left-1/2 h-full w-0.5 bg-gray-300 dark:bg-gray-700 transform -translate-x-1/2"></div>

      <!-- 工作经历1 -->
      <div class="relative mb-12 md:ml-auto md:w-1/2 md:pr-8">
        <div class="absolute left-0 md:-left-3.5 w-7 h-7 bg-primary rounded-full transform -translate-x-1/2 mt-1.5">
          <div class="w-3 h-3 bg-white rounded-full absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"></div>
        </div>
        <div class="ml-8 md:ml-0 p-4 bg-white dark:bg-gray-800 rounded-lg shadow-md">
          <h3 class="text-lg font-medium text-title">产品经理</h3>
          <span class="text-sm text-primary">2023.07 - 现在</span>
          <p class="mt-2 text-text-light">了解餐饮连锁公司的存货管理需求，存货管理软件选型、上线、运维、迭代。设计并开发了灵简低代码平台，可以通过低代码配置完成B端和C端后台系统设计</p>
        </div>
      </div>

      <!-- 工作经历2 -->
      <div class="relative mb-12 md:mr-auto md:w-1/2 md:pl-8">
        <div class="absolute left-0 md:left-[calc(100%+14px)] w-7 h-7 bg-primary rounded-full transform -translate-x-1/2 mt-1.5">
          <div class="w-3 h-3 bg-white rounded-full absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"></div>
        </div>
        <div class="ml-8 md:ml-0 p-4 bg-white dark:bg-gray-800 rounded-lg shadow-md">
          <h3 class="text-lg font-medium text-title">产品经理</h3>
          <span class="text-sm text-primary">2021.11 - 2023.07</span>
          <p class="mt-2 text-text-light">负责B端数据中台产品的需求沟通、方案设计、写PRD文档、数据建模、原型设计、开发协调、上线培训、上线后运维以及产品优化迭代等</p>
        </div>
      </div>

      <!-- 工作经历3 -->
      <div class="relative mb-12 md:ml-auto md:w-1/2 md:pr-8">
        <div class="absolute left-0 md:-left-3.5 w-7 h-7 bg-primary rounded-full transform -translate-x-1/2 mt-1.5">
          <div class="w-3 h-3 bg-white rounded-full absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"></div>
        </div>
        <div class="ml-8 md:ml-0 p-4 bg-white dark:bg-gray-800 rounded-lg shadow-md">
          <h3 class="text-lg font-medium text-title">财务数据分析师</h3>
          <span class="text-sm text-primary">2019.08 - 2021.11</span>
          <p class="mt-2 text-text-light">设计并搭建了财务运营数仓，实现了数仓同步、财务报表的自动化，完成了财务运营数据从取数到呈现的闭环。</p>
        </div>
      </div>

      <!-- 工作经历4 -->
      <!-- <div class="relative mb-12 md:mr-auto md:w-1/2 md:pl-8">
        <div class="absolute left-0 md:left-[calc(100%+14px)] w-7 h-7 bg-primary rounded-full transform -translate-x-1/2 mt-1.5">
          <div class="w-3 h-3 bg-white rounded-full absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2"></div>
        </div>
        <div class="ml-8 md:ml-0 p-4 bg-white dark:bg-gray-800 rounded-lg shadow-md">
          <h3 class="text-lg font-medium text-title">审计助理</h3>
          <span class="text-sm text-primary">2018.08 - 2019.08</span>
          <p class="mt-2 text-text-light">编制审计工作底稿，出具审计报告</p>
        </div>
      </div> -->
    </div>
  </div>
</section>