<section class="section" id="skills">
  <h2 class="section__title">技能</h2>
  <!-- <span class="section__subtitle">我的技术水平</span> -->

  <div class="max-w-[968px] mx-auto px-4">
    <!-- 产品经理 -->
    <div class="p-6 rounded-lg shadow-md mb-8">
      <div class="flex items-center mb-6">
        <i class="uil uil-file-check-alt text-4xl text-primary mr-4"></i>
        <div>
          <h3 class="text-lg font-medium text-title">产品经理</h3>
          <span class="text-sm">2 年</span>
        </div>
      </div>

      <div class="grid grid-cols-2 gap-8">
        <div>
          <div class="flex justify-between mb-2">
            <div class="font-medium text-title">墨刀、Axure RP</div>
            <span>熟悉，能够完成原型设计页面绘制</span>
          </div>
          <div class="w-full h-[5px] rounded bg-input">
            <div class="skills__percentage w-[80%]"></div>
          </div>
        </div>

        <div>
          <div class="flex justify-between mb-2">
            <div class="font-medium text-title">Xmind、ProcessOn、语雀</div>
            <span>熟悉，梳理需求和写PRD文档</span>
          </div>
          <div class="w-full h-[5px] rounded bg-input">
            <div class="skills__percentage w-[90%]"></div>
          </div>
        </div>
      </div>
    </div>

    <!-- 技术 -->
    <div class="p-6 rounded-lg shadow-md">
      <div class="flex items-center mb-6">
        <i class="uil uil-programming-language text-4xl text-primary mr-4"></i>
        <div>
          <h3 class="text-lg font-medium text-title">技术</h3>
          <span class="text-sm">1+ years</span>
        </div>
      </div>

      <div class="grid grid-cols-2 gap-8 mb-6">
        <div>
          <div class="flex justify-between mb-2">
            <div class="font-medium text-title">ApiFox、PostMan</div>
            <span>熟悉，做API接口设计和测试</span>
          </div>
          <div class="w-full h-[5px] rounded bg-input">
            <div class="skills__percentage w-[80%]"></div>
          </div>
        </div>

        <div>
          <div class="flex justify-between mb-2">
            <div class="font-medium text-title">Python</div>
            <span>后端、爬虫、数据分析以及自动化都做过</span>
          </div>
          <div class="w-full h-[5px] rounded bg-input">
            <div class="skills__percentage w-[70%]"></div>
          </div>
        </div>
      </div>

      <div class="grid grid-cols-2 gap-8 mb-6">
        <div>
          <div class="flex justify-between mb-2">
            <div class="font-medium text-title">GO</div>
            <span>最喜欢的后端语言，也能做客户端</span>
          </div>
          <div class="w-full h-[5px] rounded bg-input">
            <div class="skills__percentage w-[70%]"></div>
          </div>
        </div>

        <div>
          <div class="flex justify-between mb-2">
            <div class="font-medium text-title">TypeScript</div>
            <span>了解，能开发前端页面</span>
          </div>
          <div class="w-full h-[5px] rounded bg-input">
            <div class="skills__percentage w-[50%]"></div>
          </div>
        </div>
      </div>

      <div class="grid grid-cols-2 gap-8">
        <div>
          <div class="flex justify-between mb-2">
            <div class="font-medium text-title">React、VUE</div>
            <span>了解，用过</span>
          </div>
          <div class="w-full h-[5px] rounded bg-input">
            <div class="skills__percentage w-[30%]"></div>
          </div>
        </div>

        <div>
          <div class="flex justify-between mb-2">
            <div class="font-medium text-title">LLMs</div>
            <span>熟悉大语言模型应用</span>
          </div>
          <div class="w-full h-[5px] rounded bg-input">
            <div class="skills__percentage w-[60%]"></div>
          </div>
        </div>
      </div>
    </div>

    <!-- 财务数据分析 -->
    <div class="p-6 rounded-lg shadow-md mb-8">
      <div class="flex items-center mb-6">
        <i class="uil uil-chart-line text-4xl text-primary mr-4"></i>
        <div>
          <h3 class="text-lg font-medium text-title">财务数据分析</h3>
          <span class="text-sm">2 年</span>
        </div>
      </div>

      <div class="grid grid-cols-2 gap-8">
        <div>
          <div class="flex justify-between mb-2">
            <div class="font-medium text-title">MySQL</div>
            <span>熟悉数据建模、数仓搭建、数据清洗</span>
          </div>
          <div class="w-full h-[5px] rounded bg-input">
            <div class="skills__percentage w-[90%]"></div>
          </div>
        </div>

        <div>
          <div class="flex justify-between mb-2">
            <div class="font-medium text-title">Excel</div>
            <span>熟练使用，能独立设计开发Excel插件</span>
          </div>
          <div class="w-full h-[5px] rounded bg-input">
            <div class="skills__percentage w-[100%]"></div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>