<section class="section" id="skills">
  <h2 class="section__title">技能</h2>
  <span class="section__subtitle">我的技术水平</span>

  <div class="max-w-[968px] mx-auto px-4">
    <!-- Frontend -->
    <div class="p-6 rounded-lg shadow-md mb-8">
      <div class="flex items-center mb-6">
        <i class="uil uil-brackets-curly text-4xl text-primary mr-4"></i>
        <div>
          <h3 class="text-lg font-medium text-title">Frontend Developer</h3>
          <span class="text-sm">2+ years</span>
        </div>
      </div>

      <div class="grid grid-cols-2 gap-8">
        <div>
          <div class="flex justify-between mb-2">
            <div class="font-medium text-title">HTML</div>
            <span>90%</span>
          </div>
          <div class="w-full h-[5px] rounded bg-input">
            <div class="skills__percentage w-[90%]"></div>
          </div>
        </div>

        <div>
          <div class="flex justify-between mb-2">
            <div class="font-medium text-title">CSS</div>
            <span>80%</span>
          </div>
          <div class="w-full h-[5px] rounded bg-input">
            <div class="skills__percentage w-[80%]"></div>
          </div>
        </div>

        <div>
          <div class="flex justify-between mb-2">
            <div class="font-medium text-title">JavaScript</div>
            <span>70%</span>
          </div>
          <div class="w-full h-[5px] rounded bg-input">
            <div class="skills__percentage w-[70%]"></div>
          </div>
        </div>

        <div>
          <div class="flex justify-between mb-2">
            <div class="font-medium text-title">Vue</div>
            <span>50%</span>
          </div>
          <div class="w-full h-[5px] rounded bg-input">
            <div class="skills__percentage w-[50%]"></div>
          </div>
        </div>
      </div>
    </div>

    <!-- Backend -->
    <div class="p-6 rounded-lg shadow-md">
      <div class="flex items-center mb-6">
        <i class="uil uil-server-network text-4xl text-primary mr-4"></i>
        <div>
          <h3 class="text-lg font-medium text-title">Backend Developer</h3>
          <span class="text-sm">1+ years</span>
        </div>
      </div>

      <div class="grid grid-cols-2 gap-8">
        <div>
          <div class="flex justify-between mb-2">
            <div class="font-medium text-title">Java</div>
            <span>70%</span>
          </div>
          <div class="w-full h-[5px] rounded bg-input">
            <div class="skills__percentage w-[70%]"></div>
          </div>
        </div>

        <div>
          <div class="flex justify-between mb-2">
            <div class="font-medium text-title">Python</div>
            <span>50%</span>
          </div>
          <div class="w-full h-[5px] rounded bg-input">
            <div class="skills__percentage w-[50%]"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>